<!DOCTYPE html>
<html ng-app="app">
	<head>
		<title>Image Comparer</title>
		<link rel="stylesheet" type="text/css" href="style/style.css">
		<link rel="stylesheet" type="text/css" href="style/angular-material.min.css">
		
		<!-- load lib start -->
		<script src="lib/three.min.js"></script>
        <script src="lib/angular.min.js"></script>
        <script src="lib/Tween.min.js"></script>
        <script src="lib/angular-animate.min.js"></script>
        <script src="lib/angular-aria.min.js"></script>
        <script src="lib/angular-messages.min.js"></script>
        <script src="lib/angular-material.min.js"></script>
		 <!-- load lib end -->
		 
		<script src="config.js"></script>
		<script src="include/CameraControl.js"></script>
	</head>
	<body ng-controller="controller">
		<div id="control" layout="column">
            <span> drag file to read. </span>
            
            <div layout="row">
                <md-button class="md-icon-button" ng-click="onResetClick()">
                    <md-tooltip>Reset (R)</md-tooltip>
                    <md-icon md-svg-src="assets/ic_youtube_searched_for_white_24px.svg"></md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="onFullScreenClick()">
                    <md-tooltip>Full Screen (F11)</md-tooltip>
                    <md-icon md-svg-src="{{fullScreenIconPath}}"></md-icon>
                </md-button>
            </div>
            
            <ol>
                <li ng-repeat="x in cfg.files"
                    ng-click="onFileNameClick($index)">
                {{ x }}
                </li>
            </ol>
            
            <div flex></div>
            <md-button ng-click="onHideClick()"> Hide </md-button>
        </div>
		<div id="container"></div>
		<script src="main.js"></script>
	</body>
</html>