<!DOCTYPE html>
<html ng-app="app">
	<head>
		<title>Image Comparer</title>
		<link rel="stylesheet" type="text/css" href="style/style.css">
		
		<!-- load lib start -->
		<script src="lib/three.min.js"></script>
        <script src="lib/angular.min.js"></script>
        <script src="lib/Tween.min.js"></script>
		 <!-- load lib end -->
		 
		<script src="config.js"></script>
	</head>
	<body ng-controller="controller">
		<div id="control">
            <span> drag file to read. </span>
            <ol>
                <li ng-repeat="x in cfg.files"
                    ng-click="onFileNameClick($index)">
                {{ x }}
                </li>
            </ol>
        </div>
		<div id="container"></div>
		<script src="main.js"></script>
	</body>
</html>